<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464891391843-1oohjghvm0f6i3a6t041rbqs0rqabi83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464891391843-1oohjghvm0f6i3a6t041rbqs0rqabi83</string>
	<key>API_KEY</key>
	<string>AIzaSyCegu34JA7netJhOUgvLTtkAVpmezRr2jU</string>
	<key>GCM_SENDER_ID</key>
	<string>464891391843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Norgh.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-86960</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-86960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464891391843:ios:50e00f270e1398c1a86d56</string>
</dict>
</plist>